@import "../../../App.scss";

#basics {
  display: grid;
  grid-template-columns: 1fr 1fr;

  #char-image-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 8em;
    border-radius: 10px;
    background-color: rgba($primary-color, 0.5);
    clip-path: polygon(
      0% 15%,
      15% 0%,
      85% 0%,
      100% 15%,
      100% 85%,
      85% 100%,
      15% 100%,
      0% 85%
    );

    #no-image-text {
      margin: auto;
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  #char-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;

    span {
      text-align: center;
    }
  }
}
