.combat-traits-container {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  .combat-trait {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
}

.npc-flavor-text {
  margin-top: 10px;
  height: 50px;
  width: 80%;
}
