#char-stats {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "init crit"
    "dodge dodge"
    "drive drive";

  .section-title {
    margin: auto;
    grid-area: title;
  }
  .initiative {
    grid-area: init;
  }

  .crit {
    grid-area: crit;
  }

  .dodge {
    grid-area: dodge;
  }

  .drive {
    grid-area: drive;
  }
}
.grey {
  filter: grayscale(100%);
}
