#char-health {
  width: 100%;
  height: 100%;

  #health-title {
    grid-area: title;

    display: flex;
  }

  #health-container {
    width: 100%;
    margin-left: 4%;
    margin-bottom: 10px;
    position: relative;

    #health-display {
      display: flex;
      flex-direction: row;
      align-items: center;

      #health-total {
        text-align: center;
        position: relative;
        .health-total-background {
          height: 40px;
          width: 40px;
        }
        span {
          font-size: 2em;
          position: absolute;
          padding: 0% 20%;
          font-weight: bold;
        }
      }

      #health-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        z-index: 2;

        .health-bar-dot {
          height: 21px;
          width: 21px;
        }
      }

      .health-bar-background {
        display: flex;
        flex-direction: row;
        position: absolute;
        padding-left: 12%;

        .health-bar-background-dot {
          filter: grayscale(1);
          height: 21px;
          width: 21px;
        }
      }
    }
  }

  #health-condition {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .health-stepper {
      height: 40px;
      width: 40px;
    }
  }
}
.red {
  color: red;
}

.yellow {
  color: orange;
}

.green {
  color: limegreen;
}

.purple {
  color: purple;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: limegreen;
}
