#char-attributes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px black solid;
  margin-top: 5%;
}

.section-title {
  margin: auto;
}

.attributes-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .grid-item {
    flex-direction: row;
    justify-content: baseline;
    text-align: left;
  }
}
