.options-icon {
  width: 40px;
  height: 40px;
  background: none;
  color: inherit;
  border: 1px black solid;
  border-radius: 10px;
  cursor: auto;

  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.delete {
  font-size: 3em;
}

.refresh {
  font-size: 3em;
}

.joker {
  padding-top: 5%;
  font-size: 5em;
  min-height: 100%;
  filter: saturate(3) contrast(1.5);
  &.grey {
    filter: grayscale(1);
  }
}
