#char-sheet {
  width: 100%;
  min-width: 200px;
  padding: 5%;

  .choose-skills {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;

    .mastery {
      text-align: left;
    }
  }
}
