#char-sheet {
  width: 100%;
  min-width: 200px;
  padding: 5%;
}
.choose-skills {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;

  .checkbox-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;

    text-align: left;
    .tooltip {
      border-bottom: none;
      .question-mark {
        filter: invert(1);
        height: 20px;
        margin: -5px 5px;
      }
    }
  }
}

.chevron {
  width: 2em;
  height: 2em;
  pointer-events: none;
}
.attribute {
  font-size: 1.3em;
}
