.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 5px 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  gap: 5px;

  button {
    width: 90%;
    margin: 0 auto;
    &.new-character-button {
      height: 50px;
    }
  }
}
