#char-status {
  margin-top: 5%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "init crit"
    "dodge dodge"
    "drive drive";

  border-top: 1px black solid;

  .section-title {
    margin: auto;
    grid-area: title;
  }
  .initiative {
    grid-area: init;
  }

  .crit {
    grid-area: crit;
  }

  .dodge {
    grid-area: dodge;
  }

  .drive {
    grid-area: drive;
  }

  .badge {
    .tooltip {
      display: none;
    }
    &:hover {
      .tooltip {
        background-color: aqua;
        width: 150px;
        margin: 0 auto;
        position: absolute;
        display: block;
      }
    }
  }
}
.grey {
  filter: grayscale(100%);
}
