@import "../App.scss";
#player-screen {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  // flex-flow: row wrap;

  .new-form-container {
    display: flex;
    z-index: 10 !important;
    width: 360px;
    transform: translate(-50% -50%);
    border: 1px white solid;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    padding: 5px;
    margin: auto;
    margin-top: 10%;

    .new-form {
      display: flex;
      height: 100%;
      padding-bottom: 5%;
      background-color: rgb(255, 255, 255, 0.5);
      backdrop-filter: blur(5px);
    }

    .choose-skills {
      margin: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
      row-gap: 10px;

      .checkbox-selection {
        text-align: left;
      }
    }
  }

  .player-card-container {
    width: 100%;
    border: 1px $primary-color solid;
    margin: 5px;
    height: fit-content;
  }
}
