.cards-container {
  width: 100vw;
  height: 100vh;
  padding: 2%;
  background-color: cornflowerblue;

  #cards-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    height: 100%;
    .new-form-container {
      max-width: 300px;
    }
    .player-card-container {
      width: 100%;
      max-width: 300px;
    }
  }
}
