#player-cards-container {
  width: 100%;
  height: 100%;
  padding: 10px;

  #player-cards-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    height: 100%;

    .new-form-container {
      z-index: 1 !important;
      position: absolute;
      width: 300px;
      height: 500px;
      top: 5%;
      left: 150px;
      transform: translate(-50% -50%);
    }

    #player-cards-grid {
      width: 80%;
      border: 1px fuchsia dotted;
      display: grid;
      grid-template-columns: repeat(auto-fill, 1fr);
      grid-auto-flow: column;
      gap: 10px;

      transition: 1s;

      .player-card-container {
        width: auto;
        height: 100%;
        transition: 1s;
      }
    }
  }
}
