.character-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 325px;
  height: min-content;
  color: white;
  margin: 5px;
  padding: 10px;

  background-color: rgba(0, 0, 255, 0.4);

  .basics {
    height: 100%;
  }

  .health {
    height: 100%;
  }

  .attributes {
    display: grid;
    grid-template-columns: 1fr 2fr;

    // display: flex;
    // flex-direction: row;
    gap: 10px;
  }

  .stats {
    height: 100%;
  }

  .masteries {
    height: 100%;
  }

  .proficiencies {
    height: 100%;
  }

  .notes-area {
    margin: 5px;
    textarea {
      width: 100%;
    }
  }

  .card-options {
    height: 100%;
  }
}
