.character-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: auto;
  height: min-content;
  color: white;
  margin: 5px;
  padding: 10px;

  background-color: rgba(0, 0, 255, 0.4);

  hr {
    width: 100%;
    border-color: blue;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .basics {
    height: 100%;
  }

  .health {
    height: 100%;
  }

  .attributes {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 10px;
  }

  .stats {
    height: 100%;
  }

  .masteries {
    height: 100%;
  }

  .proficiencies {
    height: 100%;
  }

  .notes-area {
    min-height: fit-content;
    textarea {
      width: 90%;
      height: 50px;
    }
  }

  .card-options {
    height: 100%;
  }
}
