#health {
  width: 100%;
  height: 100%;
  margin: auto;

  .section-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .vitals-health {
    .health-total {
      background-color: aqua;
      border-radius: 50%;
    }
  }
}

.red {
  color: red;
}

.yellow {
  color: orange;
}

.green {
  color: green;
}
