#NPC-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  width: 100vw;
  height: auto;

  transition: all 1s ease-in-out;
  z-index: 0;

  #player-cards-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    height: 100%;

    .new-npc-form-container {
      border: 2px black dashed;
      position: absolute;
      width: 300px;
      top: 25%;
      left: 25%;
      transform: translate(-50% -50%);
      z-index: 10 !important;
      background-color: white;
    }
    .player-card-container {
      width: 100%;
      max-width: 300px;

      transition: 1s;
    }
    #player-cards-grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-template-rows: auto;
      grid-auto-flow: row;
      row-gap: 1%;

      transition: 1s;
    }
  }
}
