#npc-card {
  width: 200px;

  display: flex;
  flex-direction: column;

  border: 1px lightgrey solid;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);

  background-color: white;
  padding: 2%;

  .title {
    text-align: center;
    grid-area: title;
  }

  .health {
    margin: 10px 0;
    text-align: center;
    grid-area: health;
  }

  .power {
    grid-area: power;
  }

  .flavor {
    width: 100%;
  }

  .trait {
    grid-area: trait;
  }
}
