#npc-card {
  width: 200px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "health health"
    "power init"
    "masts masts"
    "flavor flavor"
    "options options";
  column-gap: 5%;
  row-gap: 2%;

  border: 1px lightgrey solid;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);

  background-color: white;
  padding: 2%;

  .title {
    text-align: center;
    grid-area: title;
  }

  .health {
    text-align: center;
    grid-area: health;
  }

  .power {
    grid-area: power;
  }

  .flavor {
    grid-area: flavor;
  }

  .trait {
    grid-area: trait;
  }
}
