$button-color: rgb(255, 255, 255);

#App {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e4/StarfieldSimulation.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  display: flex;
  flex-direction: row;

  padding-bottom: 5%;

  #navbar {
    color: white;
    min-width: 13vw;
  }

  #cards-section {
    max-width: 85vw;
  }
}

.form-input {
  width: 80%;
  margin: 5px;
}

.form-attribute-stepper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.form-select {
  margin: 10px;
}

.form-button {
  margin: 10px;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

option {
  font-size: 2em;
}

h3 {
  margin: 0;
}

p {
  margin-bottom: 0;
}

.border {
  border: 1px black solid;
  border-radius: 10px;
  padding: 5%;
}

.stepper-button {
  all: unset;
  filter: grayscale(1);
  transition: all 0.3s ease-in-out;
  &:hover {
    filter: grayscale(0);
    transition: all 0.3s ease-in-out;
  }
}

.card-options {
  padding-top: 5px;

  button {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 10px;
    filter: invert(1);
  }
}

.white {
  border: 1px white solid;
  padding: 5px;
}
.purps {
  border: 1px purple solid;
  padding: 5px;
}
.hilite {
  border: 1px fuchsia solid;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px black dotted;

  .tooltip-text {
    position: absolute;
    width: 200px;
    top: -25px;
    left: 120%;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    font-weight: 800;
    padding: 10px;
    border-radius: 10px;
    z-index: 10 !important;

    &::after {
      content: " ";
      position: absolute;
      top: 35px;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent black transparent transparent;
    }
  }
  &:hover .tooltip-text {
    visibility: visible;
  }
}
