.cards-container {
  display: flex;
  flex-flow: row wrap;

  .new-form-container {
    z-index: 1 !important;
    position: absolute;
    width: 350px;
    min-height: 500px;
    top: 5%;
    left: 150px;
    transform: translate(-50% -50%);
  }

  .player-card-container {
    // no longer
    width: 250px;
    max-width: 25%;
    height: min-content;
    transition: 1s;
    margin: 5px;
  }
}
