#health {
  width: 100%;
  border-top: 1px black solid;
  margin-top: 5%;

  .section-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .vitals-health {
    .health-total {
      background-color: aqua;
      border-radius: 50%;
    }
  }
  .char-image-container {
    display: flex;
    width: 100%;
    height: auto;

    img {
      border: 1px black solid;
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }
  }
}
.red {
  color: red;
}

.yellow {
  color: orange;
}

.green {
  color: green;
}
