.npc-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 250px;
  height: min-content;
  color: white;
  margin: 5px;
  padding: 10px;

  background-color: rgba(255, 0, 0, 0.4);

  .title {
    text-align: center;
    grid-area: title;
  }

  .health {
    text-align: center;
  }

  .power {
    grid-area: power;
  }

  .flavor {
    width: 100%;
    text-align: center;
  }

  .trait {
    grid-area: trait;
  }
}

#npc-health {
  .NPC-health-bar {
    margin-top: 5px;
    width: 100%;
    word-wrap: break-word;
  }
}

.delete-npc-button {
  margin-top: 5px;
  font-size: 1.1em;
  filter: invert(1);
}
