@import "../../App.scss";

.npc-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 250px;
  height: min-content;
  color: white;
  margin: 5px;
  padding: 10px;

  background-color: rgba($secondary-color, 0.5);

  hr {
    width: 100%;
    border-color: $secondary-color;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .title {
    display: inline-block;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
  }

  .health {
    text-align: center;
  }

  .power {
    grid-area: power;
  }

  .flavor {
    width: 100%;
    display: inline-block;
    word-wrap: break-word;
    text-align: center;
  }

  .trait {
    grid-area: trait;
  }
  .notes-container {
    min-height: fit-content;
    .npc-notes {
      width: 90%;
      height: 50px;
    }
  }
}

#npc-health {
  .NPC-health-bar {
    margin-top: 5px;
    width: 100%;
    word-wrap: break-word;
  }
}

.delete-npc-button {
  font-weight: bold;
  margin-top: 5px;
  font-size: 1.1em;
  filter: invert(1);
}
